body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photoList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  grid-gap: 10px;
}

.photo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-height: 300px;
  max-width: 400px;
}

img {
  width: 400px;
  height: 267px;
}

p {
  margin: 10px auto;
  /* max-height: 50px; */
}
